*{box-sizing: border-box;}    
.mySlides {display: none;}
body {
  margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  background-image: url("../image/background.png"); /* The image used */
  width: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.logo img{
    float: left;
    width: 300px;
    padding: 15px;
    padding-left: 50px;

    }

.topnav {
  overflow: hidden;
  background-color: white;
  width: 98%;
  border-radius: 15px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;

}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 15px;
  font-family: Tisa Sans Pro;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 20px;
}

.icon i{
    margin-top:-10px;
}

.topnav a:hover {
  background-color: #e0dede;
  color: black;
  border: 2px;
  border-color:  
}

.topnav a.active {
  background-color: #799bfe;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    margin-right: 20px;
    font-size: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    text-align: right;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    padding-right: 30px;
    font-family: Tisa Sans Pro;
    font-weight: bold;
    font-size: 25px;

  }
  .topnav.responsive a {
    float: left;
    margin-left: 11%;
    display: block;
    text-align: center;
    width: 80%;
    margin-top: 0px;
    font-family: Tisa Sans Pro;
    font-weight: bold;
    font-size: 18px;
  }        
   }

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:10px;width:10px;padding:8px}

.About-spices-containre{
  overflow: hidden;
  background-color: white;
  width: 98%;
  height: auto;
  border-radius: 15px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
    }
.aboutspices-background, .about-spices h1{
        font-family: Tisa Sans Pro;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        padding-top: 10px; 
        padding-bottom: 0px;
}

.About-spices-containre, .aboutspices-background p{

    font-family: Tisa Sans Pro;
    padding-top: 5px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 22px;
    text-align: justify;
    font-weight:350;
}


.footer-containre{
  overflow: hidden;
  width: 98%;
  margin-top: 0%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  position: relative;
  background-color: #2c4762;
  border-radius: 15px;
  box-shadow: 0px 0px 15px #aaaaaa; 
  line-height: 24px;
  padding-bottom:1%;
    
}


table, tr{
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  height: 20px;

}

tr, th{
  width: 33.33%;
  color: white;
  text-align: center;
  font-weight: 400;
  background-color: #2c4762;
}

h3{
  background-color: #2c4762;

  font-weight: 600;
  color: white;
}
th{
  background-color: #2c4762;

  font-weight: 300;
  font-size: 18px;
}

.footer{
  margin-top:25px;
  font-size: 25px;
  font-weight: 400;
  height: auto;
  text-align: center;
  border-radius: 15px;
  background-color: #2c4762;
}

.fa {
  font-size: 35px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  padding-bottom: 3px;
  margin-top:20px;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-google {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-youtube {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-skype {
  color: white;
}

p2{
      font-size: 15px;
      color: white;
    
}
p1{
      color: white;
      margin-bottom: 15px;
    
}
